@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: radial-gradient(farthest-side at 50% 10%, #615ccd, black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.web3modal-modal-lightbox {
  z-index: 100 !important;
}

body {
  --toastify-color-progress-light: #615ccd;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
    url(./assets/fonts/gilroy/Gilroy-Regular.woff) format("woff");
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
    url(./assets/fonts/gilroy/Gilroy-Thin.woff) format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
    url(./assets/fonts/gilroy/Gilroy-Light.woff) format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
    url(./assets/fonts/gilroy/Gilroy-Medium.woff) format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
    url(./assets/fonts/gilroy/Gilroy-SemiBold.woff) format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
    url(./assets/fonts/gilroy/Gilroy-Bold.woff) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
    url(./assets/fonts/gilroy/Gilroy-ExtraBold.woff) format("woff");
  font-weight: 800;
}

html {
  min-height: 100%;
  display: flex;
  background-color: #615ccd;
}

.glassy-outline {
  box-shadow: 0 2px 1px hsla(0, 0%, 100%, 0.5) inset,
    0 -3px 1px hsla(250, 70%, 5%, 0.3) inset, 0 -2px 6px hsla(0, 0%, 100%, 0.25);
}

body,
#root {
  flex: 1;
  display: flex;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.custom-tooltip {
  font-size: 10px !important;
  padding: 4px 8px !important;
  border-radius: 4px !important;
  background-color: #374151 !important;
}
