name: Staging V1 Deployment - Hyphen UI

on:
  push:
    branches:
      - staging

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.13.2]
    
    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Generate build
        run: |
          yarn install
          yarn run build:staging
        env:
          CI: false
          NODE_OPTIONS: --max_old_space_size=4096

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      # publish to staging environment
      - name: Deploy to S3
        run: |
          aws s3 sync build s3://${{ secrets.S3_STAGING_V1_BUCKET_NAME }}
          aws cloudfront create-invalidation --distribution-id ${{ secrets.S3_STAGING_V1_CF_ID }} --paths /